// inicio footer estilo






footer{
    margin-top: 0%;
    .links{
        font-family:$font-vivero;
		font-size: $size-title-cards;
		text-decoration: none;
		color: $color-card-title-hover;
        &:hover{
            color:$color-main;
        }
    }
}

.div__footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    @media screen and (min-width: 320px) and (max-width: 990px){
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}


.mb-5{
    .d-flex{
        border: none;
            div{
                p{
                    font-family: $font-vivero;
                    font-size: $size-text-cards;
                    color: $color-main;
                    &:hover{
                        color: $color-title-nosotros;
                    }
                }
            }
        }
    }


.text-footer{
	font-family:  $font-vivero;
	text-decoration: none;
	color: $color-title-nosotros;
    &:hover{
        color: $color-title-nosotros;
    }
}

.socialmedia-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
        .invitation{
            @extend .text-footer;
            font-size: $size-text-cards;
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: end;
            padding-right: 5%;
        }
    }
        
.logo-sections{
    display: flex;
    width: 50%;
    justify-content: start;
    align-content: center;
        a{
            display: flex;
            width: 25%;
            align-self: center;
            justify-content: center;
            @media screen and (min-width: 320px) and (max-width: 990px){
                width: 40%;
            }
        }
        img{
            width: 25%;
        }
    }




// Finaliza footer