// arreglos generales a todo el index




// background color of the entire page

.home{
    background: $backgroundcolor;
    overflow-x: hidden;
    font-size: 62.5%;
}

// carrusel 

.carousel-item{
    display: flex;
    justify-content: center;
    }

.carousel-item.active{
    display: flex;
    justify-content: center;
}

.carousel-fade{
    display: flex;
    justify-content: center;
}


.title-h1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    color: $color-card-title-hover;
    font-size: $size-nav;
    font-family: $font-vivero;
}

// estilo de las cards

.section-card{
	background: transparent;
	margin-bottom: 0;
	justify-content: center;
}

.right{
    text-align: right;
    @media screen and (min-width: 320px) and (max-width: 992px){
        text-align: center;
    }
}

.left{
    text-align: left;
    @media screen and (min-width: 320px) and (max-width: 990px){
        text-align: center;
    }
}

.center{
    text-align: center;
}

.card{
	background: none;
	padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
	border: none;
    .card-img-top{
	    width: 80%;
	    border-radius: 0%;
        margin-bottom: 6%;
        margin-left: -3%;
        margin-right: -3%;
        box-shadow: 1px 2px 4px 8px rgba(250,250,250,0.8);
    }
    .card-body{
        h5{
            display: none;
            font-family: $font-vivero;
	        font-size: $size-title-cards;
	        color: $color-main;
            &:hover{
                color: $color-card-title-hover;
            }
        }
        p{  
            display: none;
            font-family: $font-vivero;
	        font-size: $size-text-cards;
	        color: $color-main;
            &:hover{
                color: $color-card-text-hover;
            }
        }
    }
}

// fin estilo cards